<nav>
	<div class="site-title">
		<a href="/"><h1>AAj's Blog</h1></a>
		<p>A test website of Aldrin Jay</p>
	</div>
	<ul>
		<li><a href="/">Blog Post</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blogs/create">New Blog Post</a></li>
	</ul>
</nav>
