<!doctype html>
<html lang="en">
	<%- include('./partials/header.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="About content">
			<h2>About Us</h2>
			<p class="about">
				Welcome to our little corner of the web! 🌐 This platform is a digital
				diary, a place where anyone can share their thoughts, feelings, and
				experiences. Whether you’re reminiscing about the past, reflecting on
				the present, or dreaming about the future, this is your space to convey
				your story.
			</p>
			<h3>Our Mission</h3>
			<p class="about">
				In a world that’s constantly changing, we believe in the power of
				sharing. Our mission is to create a welcoming space where people from
				all walks of life can document their journeys, share their experiences,
				and connect with others. Here, every story matters, and every voice is
				heard.
			</p>
			<h3>What You Can Share</h3>
			<ul>
				<li>
					<strong>Personal Experiences:</strong> From everyday moments to
					life-changing events, share the stories that have shaped you.
				</li>
				<li>
					<strong>Thoughts and Reflections:</strong> Whether it’s a breakthrough
					in your personal growth or a simple reflection on life, your thoughts
					are valuable.
				</li>
				<li>
					<strong>Creative Expressions:</strong> Poems, short stories,
					artwork—this is a space for your creativity to shine.
				</li>
			</ul>
			<h3>Why Share?</h3>
			<p class="about">
				Sharing your story can be a powerful experience. It allows you to
				reflect, connect, and inspire others. By documenting your journey, you
				not only preserve your memories but also contribute to a community of
				shared experiences.
			</p>
			<h3>Join Us</h3>
			<p class="about">
				Feel free to explore, leave a comment, or just enjoy the read. This
				platform is for everyone, and we encourage you to use it as a conveyor
				of your story. Together, we can create a tapestry of diverse experiences
				and build a community where everyone feels valued and understood.
			</p>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
